<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light position-fixed w-100" style="z-index: 500; background-color: #EAEAEA;">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0 logo" href="/">
        Apparel
      </a>
    
      <!-- Left links -->
      <ul class="navbar-nav me-0 mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/admin">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/all-orders">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/users">Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/categories">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Banners</a>
        </li>
        <li class="nav-item pe-3">
          <div class="dropdown">
            <a class="dropdown-toggle d-flex align-items-center hidden-arrow nav-link" href='/'
              id="navbarDropdownMenuAvatar" role="button" data-mdb-toggle="dropdown" aria-expanded="false">Offers</a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
              <li>
                <a class="dropdown-item" href="/admin/category-offers">Category & Referral</a>
              </li>
              <li>
                <a class="dropdown-item" href="/admin/coupons">Coupons</a>
              </li>
              {{!-- <li>
                <a class="dropdown-item" href="/admin/refferal-offers">Refferal offers</a>
              </li> --}}

            </ul>
          </div>
        </li>

      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">

      <a href="/logout" class="btn rounded-pill btn-dark">Logout</a>
      {{!--
      <!-- Notifications -->
      <div class="dropdown">
        <a class="text-reset me-3 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button"
          data-mdb-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-bell"></i>
          <span class="badge rounded-pill badge-notification bg-danger">1</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item" href="#">Some news</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Another news</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Something else here</a>
          </li>
        </ul>
      </div> --}}
      <!-- Avatar -->
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- /Navbar -->