<!-- Footer -->
<style>
  footer{
    z-index: 10;
  }
</style>
<footer class="text-center text-lg-start bg-dark text-muted">
  
{{#if admin}}
      
   {{else}}
  <!-- Section: Links  -->
  <section class="pt-3" style="bottom: 0;">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class=" fw-bold mb-4 logo">
            <i class="fas fa-gem me-3 "></i>Apparel
          </h6>
          <p>
           Apparel is here to serve you and make sure you find the Perfect Look for every occasion. Our passion for fashion is the reason why we are here. 
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="/cart" class="text-reset">Cart</a>
          </p>
          <p>
            <a href="/orders" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="/account" class="text-reset">Account</a>
          </p>
          <p>
            <a href="/wishlist" class="text-reset">wishlist</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> India , Kerala, Kochi</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            lidhyajeejan@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 91 9562770054</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="text-reset fw-bold logo" href="/">Apparel</a>
  </div>
 
  {{/if}}
  <!-- Copyright -->
</footer>
<!-- Footer -->
