{{!-- <h1>{{message}}</h1>
 <h2>{{error.status}}</h2>
<p>{{error.stack}}</p> --}}
{{!-- <div class="col-md-6 align-self-center">
        <h1>404</h1> 
        <h2>UH OH! You're lost.</h2>
        <p>The page you are looking for does not exist.
          How you got here is a mystery. But you can click the button below
          to go back to the homepage.
        </p>
        <button class="btn green">HOME</button>
      </div> --}}
   
   <div class="d-flex align-items-center justify-content-center vh-100 overflow-hidden">
            <div class="text-center row">
                <div class=" col-md-6">
                    <img src="/images/404 Error-cuate.png" alt="page not found"
                        class="img-fluid">
                </div>
                <div class=" col-md-6 d-flex flex-column justify-content-center">
                    {{!-- <p class="fs-3"> <span class="text-danger">Opps!</span> Page not found.</p> --}}
                    <h3 class="lead">
                        The content you’re looking for doesn’t exist. <br> 
Either it was removed, or you mistyped the link. <br><br>
 <a href='/' class="btn btn-dark rounded-pill">Go Home</a>
                    </h3>
                   
                </div>

            </div>
        </div>