<div class="_1AtVbE col-12-12"><div class="Vy94J0">
    <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" class="_2giOt4">
    <div class="_1LCJ1U">Missing Cart items?</div>
    <div class="hKIFfL">Login to see the items you added previously</div>
    <button class="_2KpZ6l _1sbqEe _3AWRsL">
        <span>Login</span>
        </button>
        </div>
        </div>