<section class="h-100 pt-5">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">

                <div class="col-md-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <h3 class="fw-normal text-success text-uppercase">Order placed successfully !</h3>
                                <img style="width: 25rem; height: 25rem;" src="/images/Successful purchase-rafiki.png" alt="">
                                <a href="/orders" class="btn btn-dark">view Orders</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>