<!-- Section: Design Block -->
<section class="pt-5">
  <!-- Jumbotron -->
  <div class="px-4 py-5 px-md-5 text-center text-lg-start" >
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-3 fw-bold ls-tight">
           To make sure you find<br />
            <span style="color: #9A616D;">the Perfect Look for every occasion</span>
          </h1>
          {{!-- <p style="color: hsl(217, 10%, 50.8%)">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Eveniet, itaque accusantium odio, soluta, corrupti aliquam
            quibusdam tempora at cupiditate quis eum maiores libero
            veritatis? Dicta facilis sint aliquid ipsum atque?
          </p> --}}
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0 ">
          <div class="card">
            <div class="card-body py-5 px-md-5 ">

              <form action="/signup" method="post" id="form2">
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row">
                   <h5 class="fw-bold" style="letter-spacing: 1px;">Signup</h5>
                  {{#if signupErr}}
                  <p class="alert alert-danger" >{{signupErr}}</p>
                  {{/if}}
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example1" name="fname" class="form-control" />
                      <label class="form-label" for="form3Example1">First name</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example2" name="lname" class="form-control" />
                      <label class="form-label" for="form3Example2">Last name</label>
                    </div>
                  </div>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3" name="email" class="form-control" />
                  <label class="form-label" for="form3Example3">Email address</label>
                </div>

                 <!-- Phone number input -->
                  <div class="form-outline mb-4">
                  <input type="tel" id="form3Example4" name="phone" class="form-control" />
                  <label class="form-label" for="form3Example4">Mobile number</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" id="form3Example5" name="password" class="form-control" />
                  <label class="form-label" for="form3Example5">Password</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example6" name="referrerId" class="form-control" />
                  <label class="form-label" for="form3Example6">Refferal code (optional)</label>
                </div>

                <!-- Checkbox -->
                {{!-- <div class="form-check d-flex justify-content-center mb-4">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                  <label class="form-check-label" for="form2Example33">
                    Subscribe to our newsletter
                  </label>
                </div> --}}

                <!-- Submit button -->
                <button type="submit" class="btn btn-dark btn-block mb-4">
                  Sign up
                </button>

                <!-- Register buttons -->
                {{!-- <div class="text-center">
                  <p>or sign up with:</p>
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                  </button>

                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-google"></i>
                  </button>

                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                  </button>

                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-github"></i>
                  </button>
                </div> --}}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->